<nav class="navbar navbar-inverse" role="navigation">
	<a href="/" class="navbar-brand">Rails Backbone</a>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/#projects">Projetos</a></li>
		</ul>
	</div>
</nav>