<form id="new_project" action="/projects" method="post" role="form">
	<fieldset>
		<legend>Novo Projeto</legend>
		<div class="form-group">
			<label for="name">Nome</label>
			<input type="text" value="{{ name }}" class="form-control" name="name" id="name" placeholder="Nome do projeto" />
		</div>
		<div class="form-group">
			<label for="description">Descrição</label>
			<textarea id="description" name="descrition" class="form-control" rows="3">{{ description }}</textarea>
		</div>
 		<button type="submit" class="btn btn-default">Salvar</button>
	</fieldset>
</form>